.box h1{
    width: 500px;
    background-color: #ff0;
}
.box p{
    width: 400px;
    background-color: #00f;
}
<<<<<<< HEAD
.box h2{
    width: 300px;
    background-color: #0f0;
}
body,html,.box,.box h2,.box p,.box h1{
    margin: 0;
    padding: 0;
   
=======
.boss{
    width: 300px;
    background-color: #0f0;
>>>>>>> 5dd6ae1670efaeaade6234a7d946e2ef422c3411
}