.box{
    width: 500px;
    /* height: 500px; */
    border: 1px solid red;
    display: flex;
    /* overflow: hidden; */
}
.smalbox1{
    width: 100px;
    height: 400px;
    background-color: blue;
}
.smalbox2{
    flex-grow: 0.8;
    height: 300px;
    background-color: green;
}
